.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 22px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 176px;
}

.header__menu {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    margin-right: auto;
}

.header__menu a {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header__select {
    display: flex;
    align-items: center;
}

.header__icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding-top: 12px;
    padding-left: 8px;
}

.header__icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.header__icon {
    margin-left: 17px;
}

.home-intro {
    position: relative;
    height: 960px;
    z-index: 1;
}

.home-intro__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.home-intro .container {
    position: relative;
    z-index: 2;
}

.home-intro__title {
    padding-top: 286px;
    margin-bottom: 137px;
    font-family: var(--font-2);
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.home-intro__text {
    margin-bottom: 142px;
    font-family: var(--font-2);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.home-intro__btn {
    position: relative;
    display: table;
    margin: 0 auto 142px;
    padding: 20px 18px;
    font-size: 16px;
    font-weight: 700;
    color: #1A1917;
    border-radius: 4px;
    background: var(--accent);
    transition: all .4s;
}

.home-intro__btn:hover {
    transform: scale(.97);
    color: var(--accent);
    background: var(--dark);

}

.home-intro__btn:hover span {
    border-color: var(--accent);
}

.home-intro__btn span {
    display: inline-block;
    margin-right: 14px;
    padding-right: 11px;
    border-right: 1px solid rgba(26, 25, 23, 0.5);

}

.home-intro__down {
    display: table;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
}

.home-intro__down:hover svg {
    transform: translateY(10px);
}

.home-intro__down span {
    display: block;
    margin-bottom: 5px;
}

.home-intro__down svg {
    position: relative;
    transition: all .4s;
}


.jq-selectbox__select {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 7px;
    right: -9px;
    width: 8px;
    height: 4px;
    background: url('../img/arrow.svg') no-repeat center;

}

.jq-selectbox__dropdown {
    top: 29px !important;
    left: -8px;
    padding: 5px 24px 5px 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.75);
}

.jq-selectbox__dropdown li {
    transition: all .4s;
}

.jq-selectbox__dropdown li:hover {
    color: #FFB548;
    cursor: pointer;
}