.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 22px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 176px;
}

.header__menu {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    margin-right: auto;
}

.header__menu a {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header__select {
    display: flex;
    align-items: center;
}

.header__icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding-top: 12px;
    padding-left: 8px;
}

.header__icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.header__icon {
    margin-left: 17px;
}

.home-intro {
    position: relative;
    height: 960px;
    z-index: 1;
}

.home-intro__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jq-selectbox__select {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 7px;
    right: -9px;
    width: 8px;
    height: 4px;
    background: url('../img/arrow.svg') no-repeat center;

}

.jq-selectbox__dropdown {
    top: 29px !important;
    left: -8px;
    padding: 5px 24px 5px 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.75);
}

.jq-selectbox__dropdown li {
    transition: all .4s;
}

.jq-selectbox__dropdown li:hover {
    color: #FFB548;
    cursor: pointer;
}