.header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 22px 0;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 176px;
}

.header__menu {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    margin-right: auto;
}

.header__menu a {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header__select {
    display: flex;
    align-items: center;
}

.header__icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding-top: 12px;
    padding-left: 8px;
}

.header__icons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.header__icon {
    margin-left: 17px;
}

.home-intro {
    position: relative;
    height: 960px;
    z-index: 1;
}

.home-intro__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.home-intro .container {
    position: relative;
    z-index: 2;
}

.home-intro__title {
    padding-top: 286px;
    margin-bottom: 137px;
    font-family: var(--font-2);
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.home-intro__text {
    margin-bottom: 142px;
    font-family: var(--font-2);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.home-intro__btn {
    position: relative;
    display: table;
    margin: 0 auto 142px;
    padding: 20px 18px;
    font-size: 16px;
    font-weight: 700;
    color: #1A1917;
    border-radius: 4px;
    background: var(--accent);
    transition: all .4s;
}

.home-intro__btn:hover {
    transform: scale(.97);
    color: var(--accent);
    background: var(--dark);

}

.home-intro__btn:hover span {
    border-color: var(--accent);
}

.home-intro__btn span {
    display: inline-block;
    margin-right: 14px;
    padding-right: 11px;
    border-right: 1px solid rgba(26, 25, 23, 0.5);

}

.home-intro__down {
    display: table;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
}

.home-intro__down:hover svg {
    transform: translateY(10px);
}

.home-intro__down span {
    display: block;
    margin-bottom: 5px;
}

.home-intro__down svg {
    position: relative;
    transition: all .4s;
}

.jq-selectbox {
    cursor: pointer;
}

.jq-selectbox__select {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 7px;
    right: -11px;
    width: 8px;
    height: 4px;
    background: url('../img/arrow.svg') no-repeat center;

}

.jq-selectbox__dropdown {
    top: 29px !important;
    left: -8px;
    padding: 5px 24px 5px 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.75);
}

.jq-selectbox__dropdown li {
    transition: all .4s;
}

.jq-selectbox__dropdown li:hover {
    color: #FFB548;
    cursor: pointer;
}

.about {
    position: relative;
    padding-top: 200px;
    margin-bottom: 90px;
    padding-bottom: 200px;
    height: 961px;
}


.about__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.about .container {
    position: relative;
    z-index: 2;
}

.about__wrap {
    display: flex;
    justify-content: space-between;
}

.about__content {
    padding-top: 56px;
    width: 50%;
}

.about__slider {
    width: 53%;
}

.slider__img {
    position: relative;
    width: 502px;
    height: 610px;
    z-index: 3;
}

.slider__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.slider__img:nth-of-type(2),
.slider__img:nth-of-type(3) {
    position: absolute;
    top: 0;
    right: 74px;
    transform: scale(.93);
    z-index: 2;
}

.slider__img:nth-of-type(3) {
    right: 28px;
    z-index: 1;
    transform: scale(.84);
}

.slider__container {
    position: relative;
    z-index: 1;
}

.slider__btn {
    position: absolute;
    top: 48%;
    right: 29px;
    z-index: 2;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.slider__dots {
    position: relative;
    top: -40px;
    left: -51px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.slider__dots li {
    position: relative;
    flex: 0 0 14px;
    margin: 0 26px;
    height: 14px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
}

.slider__dots li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    width: 0;
    height: 2px;
    object-fit: cover;
    background: white;
    transition: all .4s;
    opacity: 0;
}

.slider__dots li:hover {

    background: white;
}

.slider__dots li:hover:after {
    width: 30px;
    opacity: 1;
}

.about__label {
    margin-bottom: 14px;
}

.about__title {
    margin-bottom: 67px;
}

.about__text {
    margin-left: 188px;
    width: 364px;
}

.features {
    position: relative;
    padding: 168px 0 231px;
}

.features__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    object-position: 31% 50%;
}

.features .container {
    position: relative;
    z-index: 2;
}

.features__content {
    padding-left: 678px;
}

.features__label {
    margin-bottom: 12px;
}

.features__title {
    margin-bottom: 64px;
}



.accordion__item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 36px;
}

.accordion__item.active::before {
    background: white;
}

.accordion__item.active::after {
    opacity: 1;
}

.accordion__item::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .4s;
}

.accordion__item::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 7px;
    width: 1px;
    height: 115%;
    background: white;
    opacity: 0;
    transition: all .4s;
}

.accordion__item:last-of-type::after {
    display: none;
}

.accordion__title {
    margin-bottom: 3px;
    font-family: var(--font-2);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--accent);
    letter-spacing: 2px;
    cursor: pointer;
}

.accordion__text {
    display: none;
    padding: 5px 117px 3px 0;
}

.require {
    position: relative;
    padding: 142px 0 169px;
}

.require__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.require .container {
    position: relative;
    z-index: 2;
}

.require__header {
    text-align: center;
    margin-bottom: 126px;
}

.require__label {
    margin-bottom: 12px;
}

.require__table {
    width: 574px;
    border-collapse: collapse;
}

.require__table tr:nth-of-type(2) td {
    padding-bottom: 52px;
}

.require__table tr:nth-of-type(3) td {
    padding-bottom: 55px;
}

.require__table td {

    padding: 14px 19px 31px;
    border: 1px solid rgba(151, 151, 151, 0.33);
}

.require__table tr td:first-of-type {
    width: 276px;
}

.require__table tr td:last-of-type {
}

.require__subtitle {
    margin-bottom: 12px;
    font-family: var(--font-2);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--accent);
}

.require__text {
    font-size: 18px;
    line-height: 22px;
}